@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Comic Sans MS', cursive, sans-serif; 
  background-color: white; 
  color: #333; 
  transition: background-color 0.5s ease-in-out; 
}

@layer base {
  .border-border {
    border-color: var(--border-color);
    border-width: 2px;
    border-radius: 12px; 
  }

}




